body {
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A
}

.button-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 15px 35px;
}

nav>ul {
    display: flex;
    align-items: center;
}

ul>li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}

.header {
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.nav-title {

    font-size: 45px;
    font-weight: 800;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hi {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0;
}

.name {
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.sec1 {
    width: 580;
    margin-bottom: 30px;
    color: #757575;
}

.banner .profile-pic {
    width: 580px;
    margin-top: 0;

}

.about {
    margin: 130px 0;
    border-radius: 10px;
    background: #FFF8F3;
    padding: 130px;
}

.about-info {
    text-align: center;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-top: 150px;
}

.section-dec {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;


    /* 166.667% */
}

#section-dec {
    padding: 30px;
}

main {
    margin: 0 auto;
    max-width: 1140px;
}

.info {
    display: flex;
    justify-content: space-around;
}

.skill-container {
    display: flex;
    gap: 24px;

}

.skill-description {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
}

.skill {
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    background: white;
    border-radius: 5px;
}

.resume-colum {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}